encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/Documents/dot-secret"
	recipient = "age103wg8h9cec82kja8wdrcw4jmz0xzy3vwe0af3nm4ccchdqqzwdnss52qml"
[merge]
    command = 'meld'
[diff]
	command = "meld"
[edit]
	#command = "zed"
	command = "nvim"
