{{ if eq .chezmoi.osRelease.id "fedora" -}}
#!/usr/bin/env bash

### PACKAGE BASH ARRAYS ###

install_packages=(
{{- range $group := .packages.fedora.groups }}
  {{- if or
        (ne $.chezmoi.hostname "akai-yoga")
        (and
          (ne $group "nvidia")
          (ne $group "backups")
          (ne $group "other")
          (ne $group "games")
          (ne $group "externalApps")
        )
  }}
    {{- range $package := index $.packages.fedora.rpm $group }}
  {{ $package | quote }}
    {{- end }}
  {{- end }}
{{- end }}
)

remove_packages=(
{{- range $package := .packages.fedora.delete }}
  {{ $package | quote }}
{{- end }}
)

### MAIN SCRIPT HERE ###
# Bash conditional to use the install array
if ((${#install_packages[@]})); then
  sudo dnf install --allowerasing "${install_packages[@]}"
fi

if ((${#remove_packages[@]})); then
  sudo dnf remove "${remove_packages[@]}"
fi

sudo dnf autoremove
{{ end -}}
