[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=The Open Broadcast Software Studio
Exec=obs
GenericName=Streaming/Recording Software
Icon=com.obsproject.Studio
Name=OBS Studio
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=obs
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
