[Desktop Entry]
Actions=RunInTerminal;
Categories=RemoteAccess;Network;
Comment=Self-hosted game stream host for Moonlight
Exec=/usr/bin/env systemctl start --u app-dev.lizardbyte.app.Sunshine
GenericName=Stream Client
Icon=dev.lizardbyte.app.Sunshine
Keywords=gamestream;stream;moonlight;remote play;
Name=Sunshine
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=dev.lizardbyte.app.Sunshine
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action RunInTerminal]
Exec=gio launch /usr/share/applications/dev.lizardbyte.app.Sunshine.terminal.desktop
Icon=application-x-executable
Name=Run in Terminal
