[Desktop Entry]
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
Comment=Krita is a sketching and painting program
Exec=env Digital Painting krita %F
GenericName=Paiting Suite
Icon=krita
InitialPreference=99
MimeType=application/x-krita;image/openraster;application/x-krita-paintoppreset;
Name=Krita
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=krita
Terminal=false
TerminalOptions=
Type=Application
X-KDE-ExtraNativeMimeTypes=
X-KDE-NativeMimeType=application/x-krita
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Krita-Version=28
