[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=Private messaging from your desktop
Exec=signal-desktop --use-tray-icon %U
GenericName=Private Messages
Icon=signal
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Name=Signal
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=Signal
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
