/**
 * @name Discord 1.6
 * @author dom1torii
 * @description CS 1.6 + Old Steam Inspired Theme for Discord
 * @website https://github.com/dom1torii/discord16
 * @version 0.0.3
*/

@import url('https://dom1torii.github.io/discord16/src/css/main.css');

/* --- Settings --- */
* {
    --font: "ArialPixel"; /* Change to "" for default font */
    --rounded-avatars: false;
    --steam-logo: true;
}

/* Colors */
* {
    --custom-bg: #4a5942;
    --custom-secondary-bg: #3e4637;

    --custom-accent: #c4b550;
    --custom-secondary-accent: #958831;

    --dark-border: #292c21;
    --light-border: #8c9284;

    --custom-text: #ffffff;
    --custom-secondary-text: #bdbdbd;
}