[Annotations]
annotationToolType=11
ellipseFillColor=255,0,0,0
ellipseStrokeColor=255,0,0
lineStrokeColor=0,255,0
pixelateStrength=0.84686279296875
rectangleFillColor=255,0,0,0
rectangleStrokeColor=0,255,0
textFontColor=0,255,0

[General]
clipboardGroup=PostScreenshotCopyImage

[GuiConfig]
includePointer=true
quitAfterSaveCopyExport=true

[ImageSave]
translatedScreenshotsFolder=Screenshots

[VideoSave]
translatedScreencastsFolder=Screencasts
